services:
  proxy:
    image: nginx:latest
    container_name: proxy
    user: "1000:1000"
    command: ["nginx", "-g", "daemon off;", "-c", "/etc/nginx/nginx.conf", "-e", "/tmp/error.log"]
    volumes:
      - ${PWD}/presence_web/target:/usr/share/nginx/html:ro,z
      - ${PWD}/presence_lib:/usr/share/presence_lib:ro,z
      - ${PWD}/presence_proxy/nginx.conf:/etc/nginx/nginx.conf:ro,z
      - ${PWD}/presence_proxy/errors:/etc/nginx/errors:ro,z
      - ${PWD}/presence_cert:/etc/ssl/localcerts:ro,z

    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - 10443:10443
    expose:
      - 10443

  database:
    image: postgres:latest
    container_name: postgres
    user: "1000:1000"
    environment:
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-DoNotUseDefaultPasswordsPlease}
      POSTGRES_DB: ${DB_NAME:-presence}
      PGDATA: /tmp/pgmount/data
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ${PWD}/.data/postgres:/tmp/pgmount:z
    tmpfs:
      - /var/run/postgresql:uid=1000,gid=1000
    ports:
      - 5432:5432
    expose:
      - 5432