# Public global configuration. DO NOT ADD SECRETS HERE.
# TODO: Move to parameter store
export TARGET_ACCOUNT_ID="081276392869"
export DOMAIN_NAME="beta.presence.daws25.org"
export ZONE_ID="Z03989102RY1STEIFJSMF"
export CERTIFICATE_ARN="arn:aws:acm:us-east-1:081276392869:certificate/517b635b-dd87-43b3-83d2-ea9be56aa60e"
